<html lang="en">
<head>
    <title>{{ title }} | KK Way </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar navbar-dark" style = "background-color: #4284C5">
  <a class="navbar-brand" href="#"><img src= {{ url_for('static', filename = 'img/logo_white.png')  }} width ="120" height="45"> </a></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
{#    <ul class="navbar-nav mr-auto">#}
{#     #}
{##}
{#    </ul>#}


    <form class="navbar-form my-2 my-lg-0 ">
        <span class = "text-white"> Go Where? </span>
      <input class="form-control mr-sm-2" type="search" placeholder="Destination" aria-label="Search">
            <div class = "float-right">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Bring me there! </button>
            </div>
    </form>
  </div>
</nav>


    <div style="display: flex; justify-content: center;">
        <a href={{ url_for('index') }}> <img src= {{ url_for('static', filename = 'img/logo.png')  }} width ="400" height="200"> </a>
                    </div>
    <div class="wrapper">
      {% block body %}
      {% endblock %}
      <div class="push"></div>
    </div>

</body>
</html>